.* {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
}

.standard {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.standard_bold {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    font-weight: bold;
}

.standardTable {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: solid;
    border-width: 1px;
}

.standardTable_Header {
	color: #000000;
    background-color: #FFDD00;
    padding: 3;
    text-align: center;
    border: none;
}

.standardTable_SortHeader {
    background-color: #FFDD00;
    color: #000000;
    padding: 3;
    text-align: center;
    border: none;
    font-weight: bold;
}

.standardTable_Footer {
    background-color: #FFFFE0;
}

.standardTable_Row1 {
    background-color: #FFFFE0;
}

.standardTable_Row2 {
    background-color: #FFFFE0;
}

.standardTable_Column {
}

.standardTable_ColumnCentered {
    text-align: center
}

a
{
	color: #333366;
    text-decoration: underline;
}

a:hover
{
	color: #333366;
    text-decoration: underline;
}

.error {
	color: #FF0000;
}

.sortLink {
	color: #333366;
    text-decoration: none;
}


.pageLayout {
    width:760px;
    height:100%;
}

.pageHeader {
    text-align: center;
    vertical-align: middle;
    height:1px;
    overflow:visible;
    background-color: #6392C6;
    color: #FFFFFF;
}

.pageNavigation {
    text-align: left;
    vertical-align: top;
    width: 100px;
    background-color: #E7EFF7;
    border: 1px solid #6392C6;
    padding: 10px;
}

.pageBody {
    text-align: left;
    vertical-align: top;
    width: 660px;
    padding: 20px;
    background-color: #FFFFFF;
}

.pageFooter {
    text-align: right;
    font-size: xx-small;
    height:1px;
    overflow:visible;
    background-color: #6392C6;
    color: #FFFFFF;
}



.navigation {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
    width: 100%;
}

.navitem {
	white-space : nowrap;
    text-decoration : none;
}

a.navitem:hover,active {
	white-space : nowrap;
	text-decoration: none;
    color: #6392C6;
}

.navitem_open {
	white-space : nowrap;
	text-decoration: none;
	font-weight : bold;
}

a.navitem_open:hover,active {
	white-space : nowrap;
	text-decoration: none;
	font-weight : bold;
    color: #6392C6;
}

.navitem_active {
	white-space : nowrap;
	text-decoration: none;
	font-weight : bold;
    background-color: #6392C6;
	width: 100%;
    color: #FFFFFF;
}

a.navitem_active:hover,active {
	white-space : nowrap;
	text-decoration: none;
	font-weight : bold;
    background-color: #6392C6;
	width: 100%;
    color: #FFFFFF;
}


.navseparator {
    line-height: 12px;
    border-bottom: 1px solid #A2B7C5;
}



.fileUploadInput {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    width: 250px;
}




.emptyHeader {
    background-color: #FFFFFF;
    border-top: 0px none;
    border-right: 0px none;
    border-bottom: 0px none;
    border-left: 0px none;
}



div.titlebar {
  background: #C7D0D9;
  color: black;
  border: 1px solid #8CACBB;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 1px 1px;
  clear: both;
}

/*
   ------------------------------------------------------------
   Calendar component
   ------------------------------------------------------------
*/

.yearMonthHeader {
    background-color: #DDDDDD;
    color: #000000;
    text-align: center;
    border: none;
    font-weight: bold;
}

.weekHeader {
    background-color: #E7E7E7;
    color: #000000;
    text-align: center;
    border: none;
}

.currentDayCell {
    background-color: #DDDDDD;
    color: #000000;
    border: none;
}



.countryFormTable {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: solid;
    border-width: 1px;
}

.countryFormHeader {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: none;
    background-color: #FFDD00;
    text-align: center;
	font-weight : normal;
}

.countryFormFooter {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: none;
    background-color: #FFDD00;
    text-align: center;
	font-weight : normal;
}

.countryFormLabels {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: none;
    text-align: right;
	font-weight : bold;
}

.countryFormInputs {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: none;
}

.tree {
   lineheight: 18px;
   font-family: arial, sans-serif;
}

.treenode {
   padding: 2px 2px 2px 5px;
}

.treenode a {
   text-decoration: none;
}

.treenodeSelected {
   padding: 2px 2px 2px 5px;
}

.treenodeSelected a {
   text-decoration: none;
   font-weight: bold;
}
